[2014-05-02 19:21] jonathanong opened #2 "application/json should have utf-8 charset"
because why not

[2014-05-02 19:56] Fishrock123 opened #3 "exports.charsets.lookup() --> exports.charset()"
See: https://github.com/expressjs/mime-types/commit/1da5f79cd74fcb5763eba6b98d45286764f6768c#diff-6d186b954a58d5bb740f73d84fe39073R38

Backwards compatibility will be included, for now.

[2014-05-02 20:01] #3 closed, assigned to Fishrock123

[2014-05-02 21:55] #2 closed, assigned to nobody

[2014-05-02 22:02] jonathanong opened #4 "Additional Mime Types"
Here's a list of additional mime types. You can make requests here, and we'll mark them as added and after some discussion and references.
- [x] `.jsx` - ~~http://facebook.github.io/react/docs/jsx-in-depth.html no idea, and i think there's an extension name conflict~~ `text/jsx` - http://facebook.github.io/react/docs/getting-started.html
- [x] `.litcoffee`
- [ ] `.ejs`
- [ ] `.mustache`

places to

[2014-05-05 15:45] Fishrock123 opened #5 "Default to the most recently added definition for mime.extension(type)"
I feel as though mime.extension should return the last added definition for the type.

Thoughts?

[2014-05-06 01:53] #5 closed, assigned to nobody

[2014-05-12 02:23] dougwilson opened #6 "Support for RFC 6839 suffix lookup?"
I feel like it would be useful to be able to look up the base type for suffixes that correspond to one, like:
[code]

[2014-05-12 02:51] Fishrock123 opened #7 "Support WebGL shader types?"
This one's a bit tricky. The same file type is associated with two mime types depending on the shader type.

The json would look like this:

[code]

Source: https://developer.mozilla.org/en-US/docs/Web/WebGL/Adding_2D_content_to_a_WebGL_context

[2014-08-02 17:29] dougwilson opened #11 "Make lib just a mime type data repo"
So I think it would be easier and just plain more modular if this was just a repo of the IANA types themselves. I would like to propose I do the following things to (i.m.o.) bring the interface of this library into a better state:
1. I think `.contentType` method should only return the mime type and no charset. It could accept a second argument that is a plan object of parameters that `mime-typer`

[2014-08-30 12:00] #11 closed, assigned to nobody

[2014-08-30 12:01] #4 closed, assigned to nobody

[2014-08-30 12:02] jonathanong opened #12 "v2.0.0"
maybe you guys wanna review, but there are no breaking changes in terms of tests themselves.

do we want to revive `set-type`? i think that's the only real question left before releasing

[2014-08-30 13:40] #7 closed, assigned to nobody

[2014-09-02 08:34] #12 closed, assigned to Fishrock123

[2014-11-18 06:58] jonathanong opened #13 "extensions for types with unknown suffixes?"
if a suffix is unknown, should we lookup the extension without the suffix?

https://github.com/dherman/module-tag/blob/master/explainer.md#how-do-we-get-there-from-here

[2014-11-29 06:16] jonathanong opened #14 "aliases for application/x-www-form-urlencoded"
does that play into this library?

`form`, `urlencoded`, and `form-data` are some aliases. `¯\_(ツ)_/¯`

[2014-12-17 21:18] mchapman opened #16 "Performance (at least in Webstorm debug)"
After updating packages my express app, with errorhandler, was taking about 10 minutes to start in debug mode in the Webstorm IDE.  I downgraded to express 4.8.8 and errorhandler 1.1.1 and it went back to 8 seconds or so.  Seems to be v2 of mime-types that causes the problem.

[2014-12-17 22:51] #16 closed, assigned to dougwilson

[2015-01-07 22:00] NucleaPeon opened #17 "Detect mimetypes based on file contents instead of path"
I have the binary contents of a jpg image stored in a cache.

    cache.set('logo', fs.readFileSync("./static/mylogo.jpg"));

Instead of having a separate cache for mimetypes or storing both mimetype and contents in the cache, would it be possible to determine mimetype from the cached data without knowing the path?

Example:

    mime.readMime(cache.get('logo')); # Returns "image/jpg"

[2015-01-07 22:05] dougwilson commented on #17
You can do this, yes, but it's definitely beyond the scope of this module, which is just a database (part of the MIME database is what file extensions have been registered for which MIME types, which is how the file path stuff works). You can find modules on `npm` that do this kind of lookup you are seeking through: https://www.npmjs.com/package/mmmagic is an example.

[2015-01-19 03:59] #17 closed

[2015-01-21 19:50] NucleaPeon commented on #17
Thank you, that answers my question perfectly.

[2015-05-20 16:00] bitinn opened #19 "Suggestion: do a valid content-type check in mime.lookup"
Not sure if you consider this an edge case, but I just tried to do this:

[code]

I could be using `mime.extension` instead but it doesn't try to correct any input, and I was testing mime type obtained from parsing opengraph meta, ref: http://ogp.me/#structured, so I would like to correct them if possible, but I understand that may not be what `mime.lookup` designed to do.

[2015-05-20 16:22] dougwilson commented on #19
It is only meant to look up the mime for a file extension. If you already have the mime, then there is nothing to even look up...

[2015-05-20 16:25] dougwilson commented on #19
If you can provide more concrete examples of what, exactly, you are trying to do and expecting, then I can see what help I can provide, but otherwise all I can say is that `mime.lookup` is designed _only_ to accept a file name or extension and look up the matching mime type; `application/x-shockwave-flash` is not distinguishable from a file named `x-shockwave-flash` in the folder `application`.

[2015-05-20 16:26] dougwilson commented on #19
Please also let us know how we can expand the documentation at https://github.com/jshttp/mime-types#mimelookuppath to make it clear the only acceptable input to `mime.lookup` is a file path.

[2015-05-20 16:36] bitinn commented on #19
my code is a big complicated, but it comes down to:

1. parse an opengraph meta `<meta property="og:image:type" content="image/png">` into `image/png`
2. now check if `image/png` is valid by calling `mime.lookup('image/png')`
3. if so use the returned result.

so `mime.extension` works as long as meta is not messed up, I guess it's the closest to a validation check? or maybe I should use `mime-db`

[2015-05-20 16:39] bitinn commented on #19
As for the doc, it says `All functions return false if input is invalid or not found`, and my use-case is exactly that, to check if content-type is a known and valid content-type.

https://github.com/jshttp/mime-types#api

[2015-05-20 16:45] dougwilson commented on #19
ah, yes, with that explanation, that is exactly what I was going to suggest.

Right, and `mime.lookup` is defined as `Lookup the content-type associated with a file.`, and the file you gave it was `application/x-shockwave-flash`, which is the file called `x-shockwave-flash` in a folder called `application`, and since that file didn't have an extension, it returned `false`, for invalid input.

[2015-05-20 17:12] bitinn commented on #19
thx, i see no point to keep this open then.

[2015-05-20 17:12] #19 closed

[2015-06-07 00:01] dougwilson commented on #13
So, to me, this still just seems backwards; I looked around and I cannot find anyone else "abusing" MIME types like this (at least openly). I'm not sure where they pulled `application/javascript+module` from, but I assume the browser isn't treating this custom type any differently from a more proper type: `application/x-javascript-module`.

[2015-06-07 00:01] #13 closed

[2015-06-07 00:23] dougwilson commented on #14
Generally just seems unnecessary. `type-is` I can see wanting this, and there it is :)

[2015-06-07 00:23] #14 closed

[2015-06-07 21:48] dougwilson commented on #6
I'm closing this for some other time in the future for some use, rather than keeping a never-ending issue open :)

[2015-06-07 21:48] #6 closed

[2015-08-14 09:00] tomoat opened #22 "How should I get the file true type of it?"
That mimetype is sent by the user, I shouldn't trust it. but I use jshttp/mime-types to  not find the actual mimetype.

How should I get the true type of it?
I will change  “1439542085133.txt”  to "1439542085133.png"

console.log(mime.lookup('/uploads/images/1439542085133.png'));

result  :
image/png

[2015-08-14 14:54] dougwilson commented on #22
Hi! This library is simply providing a map of MIME <-> file extension. It sounds like you are looking for something that will actually read the contents of a given file, analyze them, and guess at what the true type is. The library https://github.com/mscdex/mmmagic provides this functionality :)

[2015-08-14 14:54] #22 closed

[2015-08-15 03:51] tomoat commented on #22
thank you @dougwilson

[2015-12-04 10:22] jstans opened #23 "Multiple Mime-Types for an extension"
This relates to: koajs/koa#617.

As an extension can corrospond to multiple mime-types, wouldn't it be correct to return an array of all matches and let libraries handle that?

Perhaps a .lookupAll() which strictly returns an array to avoid breaking existing code or over-complicating something which not everyone will want to make use of.

[2016-03-05 08:37] incredible-dev opened #24 "Mime Type : image/jpg Not working"
I have tried

  `console.log(mime.extension('image/jpg'));`

I get `false` , please let me know the correct way to get jpg in the above case.

[2016-03-05 19:03] hacksparrow commented on #24
The valid mine type is "image/jpeg".

[2016-03-05 22:36] dougwilson commented on #24
Exactly, you're getting `false` back because there is no such MIME as `"image/jpg"` in our discionary, especially since the MIME for jpg files is `"image/jpeg"` like @hacksparrow said :)

[2016-03-05 22:36] #24 closed

[2016-05-02 15:59] HardlyMirage commented on #24
Shouldn't `mime.extension('image/jpeg')` return `jpg` and not `jpeg`?

[2016-05-02 17:04] hacksparrow commented on #24
@HardlyMirage nah, `image/jpeg` is the correct value.

`.jpg` is just an acceptable file name extension of the mime-type `image/jpeg`.

[2016-05-02 17:06] HardlyMirage commented on #24
@hacksparrow I mean, the extension should be `jpg` instead of `jpeg` as the 3-letter one is more commonly used.

[2016-05-02 17:14] hacksparrow commented on #24
The [MIME type](https://en.wikipedia.org/wiki/Media_type) values were decided by [IANA](https://en.wikipedia.org/wiki/Internet_Assigned_Numbers_Authority) a long time ago. So even if `jpg` is more popular and feels more "natural", we can't do anything about it. That's how Internet protocols work.

[2016-05-02 17:17] HardlyMirage commented on #24
Got it! Interestingly, image/jpeg is not listed here:
http://www.iana.org/assignments/media-types/media-types.xhtml

[2016-05-02 17:21] hacksparrow commented on #24
No idea why they left the entry blank for `jpeg`, but you will find the reference here - http://tools.ietf.org/html/rfc2046.

[2016-05-03 04:06] dougwilson commented on #24
Hi @HardlyMirage, I think you may just be confused on how http://www.iana.org/assignments/media-types/media-types.xhtml lists the types :) The column you are looking at is called "Template", which is not always the actual MIME type. You have to form the MIME type in that list by going to the section, which is the type, and the "Name" column corresponds to the subtype. MIME type are written as `{ty

[2016-05-03 04:13] dougwilson commented on #24
As for how this module decides to map `image/jpeg` to `.jpeg`, it actually uses the `mime-db` module (found at https://github.com/jshttp/mime-db), which contains an aggregation of data sources from IANA, the Apache HTTPD project, and Nginx.

The particular `.jpeg` preference comes from the Apache feed http://svn.apache.org/repos/asf/httpd/httpd/trunk/docs/conf/mime.types

The problem with these ty

[2016-07-27 11:11] automagisch opened #25 "audio/mp3 mimetype returns false on extension"
Looks like mp3 only gets validated on audio/mpeg. So if audio/mp3 is returned (don't say that can't be happening - multer does this.), you only get 'false'.

[2016-08-26 15:41] malcolmrebughini commented on #25
This bug should be fixed with this PR https://github.com/jshttp/mime-db/pull/50

[2016-09-18 11:41] dougwilson commented on #25
Yea, `audio/mp3` does not return because it's not a real type. @malcolmrebughini identified this as a long-standing Chrome bug and we'll be adding support for it thanks to @malcolmrebughini

[2016-09-18 12:05] #25 closed

[2016-10-15 03:01] thihara commented on #23
@dougwilson Anyone working on this?

[2016-10-15 03:09] dougwilson commented on #23
HI @thihara nope. I see you made a PR, so awesome!

[2016-10-23 15:34] mschipperheyn opened #28 "Your package.json doesn't include 'path' package dependency"
In my environment, this leads to a failure.

[2016-10-23 16:59] dougwilson commented on #28
The module "path" is part of Node.js core. Node.js does not allow for their modules to be added to package.json (as those refer to modules on npm, which could be different).

[2016-10-23 16:59] #28 closed

[2017-02-13 11:03] alolis opened #31 "Mime type for .tar.gz, .tgz and multipart 7z"
Hello

I wasn't sure if this is the right place to post this or in the `mime-db` project but ... here it goes...

At the moment, `lookup` will not work if a file ends in `.tar.gz` or `.tgz` or if it's a multipart `7z` archives which they end in `.7z.001`, `7z.002` etc.

Is this something that `mime-types` has to support or `mime-db`? Any solutions would appreciated

Cheers!

[2017-02-13 18:01] dougwilson commented on #31
Hi @alolis yes, this project is just an access point to the data in the `mime-db` project, and doesn't have any mappings directly in the source code here to modify. You'll need to get those mappings added to the projects that `mime-db` aggregates from, namely Apache or NGINX.

I hope this helps!

[2017-02-13 18:01] #31 closed

[2017-03-15 16:46] pcgilday opened #32 "mime lookup for application/json returns false"
Passing "application/json" to the `mime.lookup` returns false. I am assuming this is a bug and that passing a valid mime-type to `mime.lookup` should return that same mime-type. Also, the README says this behaves similarly to [the mime module](https://www.npmjs.com/package/mime) which handles this type the way I would expect. Examples below.

Using `mime-types`

[code]

Using `mime`

[code]

If th

[2017-03-15 18:15] dougwilson commented on #32
You're encountering a bug in `mime` itself. You see, you're passing in `application/json` and that module incorrectly thing you're looking for the file `json` and then incorrectly things the file extension for that is `json`. You can see it's _not_ echoing the type if you do
[code]

[2017-03-15 18:16] dougwilson commented on #32
This is the bug: https://github.com/broofa/node-mime/issues/113

[2017-03-15 18:17] dougwilson commented on #32
And this module fixed the bug (which is one of the purposes of this module: incorporate bug fixes that `mime` is not fixing :) ).

[2017-03-15 18:17] #32 closed

[2017-03-20 03:22] dougwilson commented on #32
I updated the blurb in the README to note that there are bug fixes to the `.lookup` method compared to the `mime` module.

[2017-03-20 17:09] pcgilday commented on #32
Thank you for clarifying, I misunderstood the use case for the lookup function initially.

[2017-04-25 16:02] rijnhard commented on #23
This still has value, I just ran into it now. I see the pr for allExtensions but not for lookupAll (all mime types from a single extension)
Makes it kind of difficult to check that the binary is what you are expecting from the extension or content-type headers.

I'm going to log an issue on our tracking system, if it doesn't move the odds are I will do it.

[2017-05-06 17:44] pseudoramble commented on #23
I took a crack at this today and have a PR open for it. Hoping it's a good starting point to discuss more!

[2017-06-16 23:18] broofa opened #35 "Provide feedback on https://github.com/broofa/node-mime/issues/162"
@dougwilson (and whoever else might be relevant here)

[2017-06-16 23:27] broofa opened #36 "Type inconsistencies between node-mime, MDN, and mime-db"
Related to https://github.com/broofa/node-mime/issues/162

The v2 unit test I have in node-uuid turned up some mappings that seem "questionable" in `mime-types`.  I believe these are a result of the more nuanced approach to extension resolution I have in v2 that prefers "standard" types over vendor (or in the "x-" cases, experimental) types.

Again, this isn't breaking anything for me, but may be

[2017-06-16 23:36] dougwilson commented on #36
It looks like all but one can at least be attributed to the resolution I implemented which has the rule of "any type is better than application/octet-stream". I'm wondering why application/octet-stream may be more preferable to other types.

The other is audio/wav vs audio/wave. Not sure what to make of that off-hand.

[2017-06-17 00:00] broofa commented on #36
If you look at the scores in https://github.com/broofa/node-mime/issues/162, it shows (once you know how to read them)... that octet-stream is 1) on the "standard" facet (no x-* prefix), and 2) sourced from IANA.  Whereas the x-* ones are 1) on the experimental facet, and 2) sourced form nginx.  So.. octet-stream wins 2x.

audio/wav scores identically (both standard facet, both from apache)... wav

[2017-06-17 00:09] broofa commented on #35
If you could also provide feedback on https://github.com/broofa/node-mime/issues/163, that'd be awesome!

[2017-07-25 01:44] thiagodelgado111 opened #37 "Bump mime-db version up to the most recent one"
Most recent version `1.29.0` of `mime-db` has an important update to markdown extensions, it would be nice to have that :)

[2017-07-25 02:07] #37 closed

[2017-07-25 02:21] dougwilson commented on #37
I'm working on releasing now :) Looks like I did update to 1.28.0 but never pushed it :( I merged your 1.29.0 update on top of that so we'll have the newest 👍

[2017-08-15 12:05] deepakprabhakara opened #39 "application/x-gzip is not supported"
It returns a false instead of 'gz'.

[2017-09-22 20:22] adylevy opened #40 "no support for heic / heif image formats"
iOS 11 brought full support for HEIC formats. this is becoming very popular and not having it in the list will cause issues to mime-types users.

http://nokiatech.github.io/heif/technical.html

[2017-09-23 00:05] dougwilson commented on #40
There isn't a change this module can makr to support this. You already opened a duplicate issue in the correct module, though.

[2017-09-23 00:05] #40 closed

[2017-09-23 00:06] dougwilson commented on #39
Pull requests welcome

[2017-11-11 20:56] MustardForBreakfast commented on #39
@deepakprabhakara had the same issue with `audio/amr`. Looks like the dependency https://github.com/jshttp/mime-db doesn't provide file extensions for these MIME types.

[2017-11-22 09:41] D-pakGusain opened #41 "If URL or path contains query param lookup returns false"
Ex. /lib/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML returns look up as false instead of application/javascript

[2017-11-22 14:19] dougwilson commented on #41
The lookup function only accepts a file path, not a URL.

[2017-11-22 14:19] #41 closed

[2017-12-16 10:34] mike1808 opened #44 "New Version ETA"
Hi, can you say when do you plan to publish a new version with updated mime-db? I need mime type for WebAssembly files [zeit/serve#303](https://github.com/zeit/serve/issues/303)

[2017-12-16 15:25] dougwilson commented on #44
Hi! I have been working on it and sorry the wasm addition happened in the same release as all the font changes. The font changes look like they are causing some issues which I've been trying to work through with a couple projects before pulling them in here and increasing thr fallout.

[2017-12-17 19:46] leo commented on #44
👋 Would be great if you could release this soon. Thanks ❤️

[2017-12-19 10:58] damianobarbati opened #45 ".gsheet support"
Would it be possible to add this?

[2017-12-19 11:00] damianobarbati commented on #45
Ops, just checked out in db.json in mime-db and it's already there, sorry for the noise (y)

[2017-12-19 11:00] #45 closed

[2017-12-19 11:14] damianobarbati commented on #45
Ok this is weird, opening another issue...

[2017-12-19 11:18] damianobarbati opened #46 ".gsheet and .gdoc alternative mime-type [feature request]"
While fighting with input[type=file] to let my users upload google spreadsheet files, I noticed that `application/vnd.google-apps.spreadsheet` wasn't working (the dialog would not allow me to select .gsheet files).

God bless this guy who made this gist: https://gist.github.com/javan/7343255.
I turns you that if you want to upload sheets and docs (google format) you should be using the following m

[2017-12-19 17:14] dougwilson commented on #46
Hi @damianobarbati forgive me if I'm misunderstanding your feature request here. Are you asking if you can change a type to anything you want? If so, `mime.types.gdoc = 'application/vnd.google-apps.ritz'`, etc.

[2018-01-22 10:47] farhanmannan commented on #40
Which module is that @dougwilson  ?

[2018-02-12 12:55] giuseppeg commented on #44
bumping since I'd need this change too :)

[2018-02-13 16:29] giuseppeg commented on #44
@dougwilson can you release a patch version?

[2018-02-13 16:30] dougwilson commented on #44
@giuseppeg please see https://github.com/jshttp/mime-types/issues/44#issuecomment-352190061 . I haven't gotten the change to address the font issues, which is blocking this release.

[2018-02-13 16:33] dougwilson commented on #44
You can add any mapping to this module in addition to the built-in mappings. For example: `mime.types['wasm'] = 'application/wasm'`

[2018-02-13 16:42] philipp-spiess commented on #44
Would it make sense to temporarily add `mime.types['wasm'] = 'application/wasm'` directly to this package to avoid upgrading `mime-db`?

I guess all we have to do is initialize [this object here](https://github.com/jshttp/mime-types/blob/master/index.js#L37), right? I can provide a PR if you want to 👍

[2018-02-13 16:44] dougwilson commented on #44
No, @philipp-spiess that would be rejected. This module is *only* designed to be a wrapper to `mime-db`; it's an extremely slippery slope to start just adding more and more types manually here.

[2018-02-13 16:53] giuseppeg commented on #44
@dougwilson gotcha. I definitely don't want to put pressure on you. I am just wondering whether it'd possible to do two separate releases and get the wasm fix now. After all versions are free :)

Production apps (packages that depend on this package) are affected by the issue (including @zeithq's deployments). ) I don't have context though so I'd just shut up and wait for the fix in case this is n

[2018-02-13 16:56] dougwilson commented on #44
I'm not sure what the separate releases would be. Releasing a new version will break existing servers, but I guess you get wasm support. Why is that acceptable? WASM was never served for a long time with any type, so nothing has been broken here. You just want to take advantage of something new, and new types come out all the time. Just add the entry to your server code if you want to serve WASM f

[2018-02-13 16:59] giuseppeg commented on #44
fair enough, thanks for your patience.

[2018-02-16 17:34] dougwilson commented on #44
Published version 2.1.18 👍

[2018-02-16 17:34] #44 closed

[2018-02-16 21:59] Deklin opened #47 "No compatible version found: mime-types@~2.1.18"
![image](https://user-images.githubusercontent.com/3372511/36331144-ac76a384-133a-11e8-937e-3951b27f800e.png)

A lot of our builds are seeing this now, just checking if something got unpublished

[2018-02-16 22:02] Deklin commented on #47
Appears to be our nexus cache.

[2018-02-16 22:02] #47 closed

[2018-05-04 15:06] tudor33sud opened #48 "xml mime type handling"
Xml type is by the standard allowed to use 2 separate mime types: application/xml and text/xml .

"If an XML document -- that is, the unprocessed, source XML document -- is readable by casual users, text/xml is preferable to application/xml. MIME user agents (and web user agents) that do not have explicit support for text/xml will treat it as text/plain, for example, by displaying the XML MIME ent

[2018-05-04 15:08] dougwilson commented on #48
You can edit the maps in https://github.com/jshttp/mime-types#var-type--mimetypesextension to change the results of the look ups, if that's what you're looking for.

[2018-05-04 15:16] tudor33sud commented on #48
Oh, my bad! That would do then! Although, unfortunately, I don t think there s an easy way for this kind of cases to use 2 mimetypes for the same extension. I saw there s an issue related to a lookupall method, which may come in handy.

Thank you

[2018-05-04 15:16] #48 closed

[2018-05-08 16:39] samjross opened #49 "When I debug in Webstorm, the populateMaps function in index.js takes nearly over 1 minute"
My project has the following dependencies

[code]

I believe 'request' is the one that requires mime-types.

I'm running windows 10, node 8.9.1, most recent version of Webstorm

[code]

When I debug a project in webstorm, it runs it like this: `"C:\Program Files\nodejs\node.exe" --inspect-brk=50305 D:\Projects\Project\test.js`

When debugging, my app always took a minute to start up, much longer t

[2018-05-08 17:07] dougwilson commented on #49
Very strange. Open to hearing a solution! Not sure if this is a bug in the debugger itself or just something modules need to address in some way. Let me know :+1:

[2018-05-09 12:42] dougwilson commented on #49
Maybe it's a bug in the debugger?

[2018-05-14 16:34] pfeigl opened #50 "Remove "path" dependency from library"
Please remove the path dependency from the library. It's a node function and thus not available in browsers by default.

Current builds of Angular 6 won't work because path cannot be resolved.
Also examples on Stackblitz fail, see i.e.: https://stackblitz.com/edit/angular-6-mime-types

I tried installing the path package from npm (which is super outdated) but this also fails because path internall

[2018-05-14 16:42] dougwilson commented on #50
Hi, thanks for taking a look! Sorry it doesn't work for your situation: this module is only advertised to work for Node.js, so I'm surprised it's being used in another environment. We can support additional environments, though. Here are my thoughts:

1. First, we need to add this environment to the test suite, so we are actually testing and supporting it, so we can ensure that the changes made re

[2018-05-15 07:03] pfeigl commented on #50
Wasn't aware how strictly the "Node.js" was meant ;-) Anyways I like opening up the library for other environments.

That said, I don't like taking over the code of `path`. Neither copying into this project nor hosting it as a seperate project. Specifically hosting it elsewhere often leads to unmaintained code (see https://github.com/jinder/path).

What I would prefer is adding a function like the

[2018-05-15 11:37] dougwilson commented on #50
Yea, as long as that function is functionally identical to the Node.js path.extname. I just don't want to introduce a breaking change here ideally. Just publish that as a separate module and we can depend on that instead of path. As for the karma tests that sounds good to me.

[2018-05-15 13:00] dougwilson commented on #50
I was taking a look at npm and there are a whole bunch of file extension modules. Probably at least one of those we could use here.

[2018-05-16 08:34] pfeigl commented on #50
Sounds good, how should we proceed on this? Should I prepare something and send as a PR?

[2018-05-18 10:25] marlon360 commented on #50
I made a PR #52 which solves this.
I need this for my Angular v6 Application.

[2018-05-21 02:03] dougwilson commented on #50
@pfeigl @marlon360 someone pointed me to that `mime` module has a 2.x series now (it was 1.x when this was forked from `mime`) and that seems to have not only web browser support, but it's significantly smaller when used in the browser than this module.

See https://github.com/broofa/node-mime#browser and https://github.com/broofa/node-mime#mime-vs-mime-types-vs-mime-db-modules

Does the `mime` mo

[2018-05-22 07:48] marlon360 commented on #50
The `mime` module should work in Angular, because it does not rely on any built-in NodeJS modules. This module does not use the `path` module. This is how they get the file extension:
[code]

But this module does not work with Angular CLI projects, because internally they require json files without a file extensions:
[code]
which leads to this error:

Module not found: Error: Can't resolve './type

[2018-05-22 09:53] pfeigl commented on #50
Back again, have been out on a long weekend. Actually I'm already using `mime` in an angular-cli project. This is how:

[code]

In the end I just mimic what `mime` has in it's `index.js´ (see https://github.com/broofa/node-mime/blob/master/index.js) just that I add the required extensions. Now I can just do the following:

[code]

I also looked into setting https://webpack.js.org/configuration/res

[2018-06-22 00:00] andys8 opened #54 "Change API to return null or undefined and not false"
In cases where the input is wrong or the result can not be provided, the current API returns `false`. Therefore the type signature returns this mix of `string` and `boolean`.
https://github.com/jshttp/mime-types/blob/master/index.js#L143

The more consistent and expected behaviour would be to consider "nullable types" (see http://www.typescriptlang.org/docs/handbook/advanced-types.html) and return

[2018-07-18 05:20] dougwilson commented on #54
Hi @andys8 yea, I can see what you mean, though the link to TypeScript doesn't really matter here in general, as this is a JavaScript library, not a TypeScript library.

I don't think anyone is around these days from when this API decision was made, and I don't know exactly, so I unfortunately cannot provide you insight into that. Looking at the `git` history, the API of returning `false` is there

[2018-07-18 21:39] 4cm4k1 opened #55 "v2.1.19 is breaking builds with "Cannot find module 'mime-types'" error"
Hi,

The latest release of `mime-types` (https://github.com/jshttp/mime-types/tree/2.1.19) seems not to expose the module, causing the following error output when trying to build:

[code]

[2018-07-18 21:42] dougwilson commented on #55
Weird. I don't think I did anything different from previous versions. Do you know what the fix I need to do is? Or if not, can you provide complete steps I can perform to reproduce the issue so I can investigate?

[2018-07-18 21:46] 4cm4k1 commented on #55
I'm looking more closely into it, but as a workaround, I added `mime-types` to my dependencies and specified version `2.1.18`, which works without issue. I'll update if I narrow down the issue. (I'm using `superstatic`, which depends on it.)

[2018-07-18 21:49] dougwilson commented on #55
Ok. This is what I tried to test the assertion "seems not to expose the module":

[code]

Can you try these same steps? Or do you know if these steps represent the issue you're describing? If not, where is my misunderstanding?

Would like to fix ASAP, please, because this is a major module. At least provide steps to reproduce the issue to posted so I can investigate in parallel.

[2018-07-18 21:58] 4cm4k1 commented on #55
I tried those steps without issue; I'm trying to make a repo demonstrating the repro now.

[2018-07-18 21:59] dougwilson commented on #55
So I have to leave for an emergency so I cannot take any further look likely until tomorrow. Please post when you can and I'll get to this as soon as I can.

[2018-07-18 22:17] 4cm4k1 commented on #55
That's okay. I'm unable to reproduce this locally, so it may not actually be an issue with this package, but rather have something to do with my cloud provider Zeit Now (https://github.com/zeit/now-cli). A number of other individuals reported the issue in Zeit's community Slack, but we're all getting by with specifying `2.1.18` as a dependency version. Their staff are looking into it on their end,

[2018-07-18 22:21] dougwilson commented on #55
Thanks for the update :+1: I'm still on phone for now, so read your message. It sounds like there isn't an action item this module can take at this time. If you have something we need to change or something I can look at, I'll be happy to reopen the issue :+1:

[2018-07-18 22:21] #55 closed

[2018-07-18 22:37] 4cm4k1 commented on #55
Yep. Zeit's fixed it on their end. The cache for this package was corrupted, so they purged the cache. Thanks for your quick replies, and sorry for the false alarm. 😄

[2018-09-13 09:06] Yangfan2016 opened #56 "Font '. Woff2 'cannot be identified"

[2018-09-13 09:15] #56 closed

[2018-09-13 09:16] Yangfan2016 commented on #56
I'm so sorry , others reason

[2018-10-20 02:59] dougwilson commented on #54
Closing due to no follow up response to continue discussion.

[2018-10-20 02:59] #54 closed

[2018-10-20 03:02] #49 closed

[2018-10-20 03:02] dougwilson commented on #49
Closing due to unknown action this module can possibly take.

[2018-10-20 11:55] andys8 commented on #54
I think the current api is not the best it could be, but popular public apis are very hard to change. Comparing the benefit and the potential damage due to breaking the API, I'm fine with closing the issue.

[2018-11-08 17:54] olchyk98 opened #57 "extensition function returns false"
Hi, there!

I tried to get extension from extension function, but I've got false.
`mime.extension('text/javascript')`

Is it bug or something else?

[2018-11-08 17:59] dougwilson commented on #57
Looks like the type `text/javascript` is just not in the upstream database. https://github.com/jshttp/mime-types#adding-types

[2018-11-08 17:59] #57 closed

[2018-11-20 14:32] StephanBijzitter opened #58 "contentType returns input"
[code]
When `str` is a path that contains a `/`, it will always return the full path as a content type.

[2018-11-20 14:34] StephanBijzitter commented on #58
Furthermore (and further down):
[code]
This if-statement will never evaluate to true.

[2018-11-20 14:42] dougwilson commented on #58
You cannot give the contentType method a file system path, just a file extension or a mime type. The second if returns true if you give it the string `text/html: charset=utf-8`

[2018-11-20 14:44] StephanBijzitter commented on #58
Ah, I missed the `path.extname` in the documentation. My bad, works correctly indeed 👍

[2018-11-20 18:22] dougwilson commented on #58
The docs could probably be better, at least where it shows examples, showing an example of passing in a content-type, haha.

[2018-11-29 17:05] LRNZ09 commented on #50
It also crashes on React Native because of this.

[2018-11-29 17:12] dougwilson commented on #50
So the summary here is that the `path` dependency is a part of Node.js core. It is used for a good reason and we're not interested in removing it. Your alternative is to just use the `mime` module. This module was made to fix issues in `mime` 1.x, as noted in the README. The `mime` module has since revived and released a 2.x which is great. It uses the same data source as this module, so has all t

[2018-11-29 17:12] #50 closed

[2019-02-01 00:01] #35 closed

[2019-03-19 11:51] daveycakes opened #60 "path"

[2019-03-19 11:51] #60 closed

[2019-04-10 08:16] ovidiucirstea opened #61 "Inconsistencies with require.js and mime-db"
Hello,

I have found some issues when I tried to add mime-types to my project.
Please take a look at my 2 comments.

missing mime-db:
"mime-db": "~1.39.0" => ERROR: bower ENOTFOUND     Package mime-db not found
"mime-db": "git://github.com/jshttp/mime-db.git", => this way I can add the mime-db independent from mime-types

missing require
"requirejs": "~2.3.6", => is also needed in my project (woul

[2019-04-10 12:10] dougwilson commented on #61
I'm not sure what those errors mean or how to help resolve them.

[2019-04-10 12:10] #61 closed

[2019-06-05 18:58] zadam opened #62 "Some popular programming language extensions are not recognized"
Hello, I did some testing and it seems like a bunch of popular programming languages are not recognized based on extension. I used `mimeTypes.lookup(ext)` for testing which in cases below returned `false`. I added MIME type I understand should be correct for these extensions:

[code]

[2019-06-05 18:59] dougwilson commented on #62
https://github.com/jshttp/mime-types#adding-types

[2019-06-05 18:59] #62 closed

[2019-06-22 16:46] alonronin opened #63 "cannot identify some fonts extensions form mime-type"
the following mime-types are returning `false` instead of the expected extension:

- application/x-font-ttf - expected `ttf`
- application/font-woff - expected `woff`
- application/font-woff2 - expected `woff2`

BTW, is there a way to add additional mime-tyeps extensions at runtime?

[2019-07-18 09:55] linxd-cheer opened #64 "Unexpected end of JSON input while parsing near '...8b15bac4a1aefb9af05b0'"
hi,  I get a error , how to fix it?
![image](https://user-images.githubusercontent.com/50398651/61448160-f607e300-a984-11e9-9cd4-7a38b2ab46e2.png)
[code]

npm version is 5.6.0

hope get someone reply, thx

[2019-07-18 14:41] dougwilson commented on #64
Please provide that error log here.

[2019-07-19 01:34] linxd-cheer commented on #64
error log:

0 info it worked if it ends with ok
1 verbose cli [ 'D:\\node10.15\\node-v10.2.1\\node.exe',
1 verbose cli   'D:\\node10.15\\node-v10.2.1\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   'mime-types' ]
2 info using npm@5.6.0
3 info using node@v10.2.1
4 verbose npm-session 3fa8fe97f9bd7cf6
5 silly install loadCurrentTree
6 silly install readLocalPackageDa

[2019-07-19 01:37] dougwilson commented on #64
Thanks. It looks like your local npm cache is probably corrupted. Can you run `npm cache clean --force` and then try installing again?

[2019-07-19 03:05] linxd-cheer commented on #64
Thanks your answer, it's work well

[2019-07-19 03:05] #64 closed

[2019-08-06 20:41] SeanCannon opened #65 "Mp3 vs Mpga inconsistency"
Interesting mismatch here, though the files seem to work the same either way. We're using AWS MediaConvert, setting mime-type with this library before processing, and then we're setting the file extension with this library before sending back to the browser. When someone uploads a `.mp3` file, they end up getting back a `.mpga` file. Several variants of the file are created and it's not an option

[2019-08-06 20:43] #65 closed

[2019-08-09 04:06] connorjclark opened #66 "`image/svg+xml` charset"
Current:
[code]

Expected:
[code]

[2019-08-09 16:14] dougwilson commented on #66
Thanks for the report. The data for that comes from the `mime-db` project (https://github.com/jshttp/mime-db). If you would like to see this module return that value, I would suggest to just open a pull request at that module to get it added and it will get pulled in here automatically.

https://github.com/jshttp/mime-db#contributing

[2019-08-09 16:14] #66 closed

[2019-08-09 16:17] dougwilson commented on #63
For the first part of your issue, it should be answered by this part of the readme: https://github.com/jshttp/mime-types#adding-types

For the second part, there is an open PR already tracking that feature request: https://github.com/jshttp/mime-types/pull/34

[2019-08-09 16:17] #63 closed

[2019-09-13 15:14] dan-b-hu opened #67 "png with extension changed to jpg shows wrong mime type"
If you change the extension of a png file to jpg `mime.lookup` will show the mime type as `image/jpeg`

I believe the mime type should still be `image/png`

![image](https://user-images.githubusercontent.com/51912664/64873532-301dfa00-d641-11e9-9f54-0ef7dba03173.png)

[code]
Will output `image/jpeg`

If you use a tool like [exiftool](https://owl.phy.queensu.ca/~phil/exiftool/) it will show the mim

[2019-09-13 15:16] dougwilson commented on #67
Reading the contents of the file it out of scope of this module. This is simply a lookup table based on the extension.

[2019-11-06 18:44] GustavoMilitao opened #68 "Missing "jfif" extension mime type"
When I use lookup("jfif"), the result is false because it haven't "jfif" in exports.types[extension]. "jfif" is an image extension. See the link below.

https://www.w3.org/Graphics/JPEG

[2019-11-06 18:47] dougwilson commented on #68
The lookup is just for file extensions. I don't see anything on that page that says there is a file extension of ".jfif" unless I'm missing something there. Can you highlight where on that page it lists a file extension?

[2019-11-06 18:57] GustavoMilitao commented on #68
"JPEG JFIF, which is what people generally mean when they refer to "JPEG", is a file format created by the Independent JPEG Group (IJG) for the transport of single JPEG-compressed images."

When I save images using Windows 10, jfif extension is selected by default.

[2019-11-06 19:02] dougwilson commented on #68
So instead of continuing conversation here, you may want to open an issue where the actual data comes from. You can see in our github source code that this module doesn't actually include extension data, so it's not something that would be directly fixed here.

If you think otherwise, please share what changes you think this module should make to address your concern and they can be made. The unde

[2019-11-06 19:02] #68 closed

[2020-01-03 21:12] wcjord opened #69 "Module not found: Error: Can't resolve 'path' in app/node_modules/mime-types"
I added the path dependency back into the mime-types/package.json and that fixed the problem. I see that this path dependency was been a discussion topic in the past. Was the dependency added back in recent versions? I'm using mime-types@2.1.25

[code]

[2020-01-03 21:23] dougwilson commented on #69
The `path` package is part of the Node.js runtime: https://nodejs.org/dist/latest-v12.x/docs/api/path.html

Adding it to the package.json installs a different module than the one built into Node.js.

[2020-01-03 21:23] #69 closed

[2020-01-03 21:25] dougwilson commented on #69
Please see https://github.com/jshttp/mime-types/issues/50#issuecomment-442916069

[2020-01-03 21:36] wcjord commented on #69
Thank you so much!

[2020-01-21 10:46] kiettanle opened #70 "Change file name extention"
I have a JSON file _example.json_.
I changed the file name to _example.png_ then I uploaded that file to the server.
Then I uploaded the uploaded file to S3 Storage.
Then I downloaded the file from S3 to the local machine. I couldn't view it as an image.
Then I changed the filename to _example.json_. I could view the content of the file.
This will lead to **Malicious file type could be uploaded an

[2020-01-21 14:26] dougwilson commented on #70
Duplicate of #67

[2020-01-21 14:26] #70 closed

[2020-01-22 16:12] mandapati7 opened #71 "Module not found error."
Hi,

I have included mime-types in my angular projects and when I have build the project it is throwing the below error.

[ERROR]
[ERROR] ERROR in ./node_modules/mime-types/index.js
**[ERROR] Module not found: Error: Can't resolve 'path' in '/var/XXX/jenkins/972a015a/workspace/EW-3531535_oce_irs_app_ci_master/oce_irs_web/node_modules/mime-types'**
[ERROR] npm ERR! code ELIFECYCLE
[ERROR] npm ERR!

[2020-01-22 16:31] dougwilson commented on #71
Duplicate of #69

[2020-01-22 16:31] #71 closed

[2020-01-31 09:09] anuj9196 commented on #69
It seems `mime` as referenced in #50  is not more maintained. Their [repo](https://github.com/broofa/node-mime) has been marked read only and says

[2020-02-06 14:07] omryoz opened #73 "Missing mime type for .jfif"

[2020-02-06 14:20] dougwilson commented on #73
https://github.com/jshttp/mime-types/blob/master/README.md#adding-types

[2020-02-06 14:20] #73 closed

[2020-02-20 16:46] alex-p-mai opened #74 "Missing MimeType for keynote"
In the mime-db 1.43.0, there's an entry for .keynote, however when I pass in 'asdadad.keynote', mime-types returns false.

[code]

[2020-02-20 16:47] dougwilson commented on #74
What version of `mime-types` are you using?

[2020-02-20 16:47] alex-p-mai commented on #74
"mime-types": "^2.1.26",

[2020-02-20 16:51] dougwilson commented on #74
I'm not able to reproduce your issue. Here are the steps I took below. If you can provide the specific steps to replicate your issue, that would be of great help!
[code]

[2020-02-20 16:55] alex-p-mai commented on #74
Apologies. It looks like Apple changed their file extension to .key instead of .keynote, which is why it's not being picked up correctly. My file name was asdadad.key.

[2020-02-20 16:55] #74 closed

[2020-03-09 15:12] brixxs opened #75 "missing extension for mimetype "application/x-zip-compressed""
mime-db json does not contain an entry for mimetype "application/x-zip-compressed", which should contain an extenson "zip" at least.

[2020-03-09 15:12] dougwilson commented on #75
https://github.com/jshttp/mime-types#adding-types

[2020-03-09 15:12] #75 closed

[2020-03-12 21:03] oscarrock opened #76 "Missing mime type for audio/aac"
Hey i think you got a missing file type.
mime.extension('audio/aac') = false

Thank you guys

[2020-03-12 21:05] dougwilson commented on #76
https://github.com/jshttp/mime-types/blob/master/README.md#adding-types

[2020-03-12 21:05] #76 closed

[2020-03-18 08:16] Rotzbua commented on #63
@alonronin `application/font-woff2` is deprecated. Since 2017 it is recommended to use `font/woff2` defined in RFC8081.

[2020-03-24 17:03] hazaart opened #77 "Build fails with error 'Can't resolve 'path''"
Using mime-types as npm package in combination with an Angular 8 application.

Getting following error on ng build:
[code]

[2020-03-24 17:05] #77 closed

[2020-09-14 14:33] shah20 opened #78 "If I change the extension of .xlsx file to .pdf it shows mime type as application/pdf not the mime type of .xlsx"

[2020-09-14 14:34] dougwilson commented on #78
This module is a mapping of file extensions to MIME types.

[2020-09-14 14:34] #78 closed

[2020-09-14 14:35] dougwilson commented on #78
Duplicate of #67

[2020-09-24 06:24] john050481 opened #79 "New release"
please tell me, when will be the new package released mime-types?
@dougwilson
https://github.com/jshttp/mime-db/releases/tag/v1.45.0

[2020-10-24 21:30] FourCinnamon0 commented on #79
What does the current one lack?

[2020-10-29 13:30] chrisweb commented on #79
@FourCinnamon0 https://github.com/jshttp/mime-db/blob/master/HISTORY.md ... so for example AVIF

[2020-11-03 03:37] PierBover opened #81 "false returned for .dng files"
This `/tmp/c21d67b8-dda0-46db-8386-f04c4a126d8b.dng` returns `false`.

It should return `image/dng` or `image/x-adobe-dng`.

[2020-11-03 03:39] dougwilson commented on #81
https://github.com/jshttp/mime-types#adding-types

[2020-11-03 03:39] #81 closed

[2020-11-03 03:53] PierBover commented on #81
https://github.com/jshttp/mime-db/pull/219

[2020-11-03 11:48] felixfbecker opened #82 "ESM/browser support"
I'd love to use this package in the browser, but currently it uses Node-style CommonJS and also requires the `path` module for `path.extname()`. Would it be possible to support ESM through package.json fields, and remove the `path` dependency?

[2020-11-03 11:56] dougwilson commented on #82
I am fine to add more platforms than Node.js if that does not end up forking the code too much. If someone would like to put a pull request together that adds said support and includes the appropriate tests that back up whatever the platform is in the CI. It sounds like you said web browser, so we'd want to make sure some kind of web browser test matrix is added to the CI with it.

As for the path

[2020-11-03 12:01] dougwilson commented on #82
This package actually works quite well in the web browser, with the benefit of having a smaller footprint by inlining the mime-db dependency and storing it a bit more compact: https://www.npmjs.com/package/mime

[2020-11-03 12:06] felixfbecker commented on #82
Thanks for the reply! I wasn't aware the `path` thing was brought up before, apologies. I read through https://github.com/jshttp/mime-types/issues/50 but don't understand what you mean with "as it is part of our API"? From that thread I thought it would be possible to include an `extname` helper function.

I really just want to use `type-is` in the browser, but it has a dependency on this package,

[2020-11-03 12:11] dougwilson commented on #82
No, as the purpose of this module was to build out our own chain for Express, and that move would have defeated the entire purpose of creating this module :)

[2020-11-05 02:07] gattasrikanth opened #83 "Support .m2ts filetypes"
`lookup('test.m2ts)` returns `false`
Please add support to this extension as well.
Wiki Link: https://en.wikipedia.org/wiki/.m2ts

[2020-11-05 02:09] dougwilson commented on #83
https://github.com/jshttp/mime-types#adding-types

[2020-11-05 02:09] #83 closed

[2020-11-11 11:47] chrisweb commented on #79
ping @dougwilson do you think we can merge this?

[2020-12-27 06:00] georgezhang commented on #65
@SeanCannon May I know how did you solve this problem?

[2020-12-28 21:57] endoooo commented on #65
@georgezhang I stumbled upon this issue and I solved it by simply not using the `mime.extension(MIMEType)` function when I have access to the file name. something like this:

[code]

[2021-01-02 04:10] #79 closed

[2021-01-27 06:50] intermx-reddysai opened #84 "mime.extension not supporting `application/x-yaml` mime type."

[2021-01-27 06:51] dougwilson commented on #84
https://github.com/jshttp/mime-types#adding-types

[2021-01-27 06:51] #84 closed

[2021-01-27 07:12] intermx-reddysai commented on #84
I tried `console.log(mime.extension('application/x-yaml')`, it is returned `false`. Please update the Readme file with supported mime-types.

[2021-04-01 12:52] ajouve opened #85 "Issue for rar file"
Hi,

rar file seems to be `application/x-rar` and not `application/vnd.rar`

[2021-04-01 17:02] dougwilson commented on #85
Hi @ajouve sorry for any confusion. This module gets those mappings from a dependency: https://github.com/jshttp/mime-types#adding-types

[2021-04-01 17:02] #85 closed

[2021-04-01 17:04] dougwilson commented on #85
As a follow up it seems that the registration at the IANA is for `application/vnd.rar` https://www.iana.org/assignments/media-types/application/vnd.rar

[2021-04-01 17:12] dougwilson commented on #82
Hi @nathanczachur this module does not work in the web browser, which is what this issue is about (seeing what it would take to make it work in the web browser). As far as the README, it does currently state it is a Node.js module (thus meant for Node.js); we could list everywhere it doesn't work, but that would be endless. It is much better practice to list where it does work, as the list is smal

[2021-05-22 05:29] preduseldavid opened #87 "BUG - Incomplete DB"
image/jpeg is missing from db.json. The extension is used in iOS (currently testing with iPhone 7) when launcing camera and taking pictures.

[2021-05-22 05:30] dougwilson commented on #87
https://github.com/jshttp/mime-types#adding-types

[2021-05-22 05:30] #87 closed

[2021-06-11 08:03] adadgio opened #88 "Returns false for PDF"
See:

[code]

According to the docs, it should detect application/pdf

[2021-06-11 08:05] #88 closed

[2021-09-05 14:53] ysaban opened #89 "Identify extension of mime-type PJPEG"
using the function "extension" with value of "image/pjpeg" we get result false
`extension('image/pjpeg');`
is it possible to support that type?

[2021-09-05 16:11] dougwilson commented on #89
https://github.com/jshttp/mime-types#adding-types

[2021-09-05 16:11] #89 closed

[2021-09-08 15:17] zstuder25 opened #90 "Map quicktime files to .mov and not .qt extensions"
When calling mime.extension("video/quicktime") it should return "mov" instead of "qt" since "qt is now deprecated. Both are available from mime-db but it seems to always select "qt" which leads to some problems.

[2021-09-08 15:20] dougwilson commented on #90
Thank you for this information. Can you provide the source that states what you said above?

[2021-09-08 15:30] zstuder25 commented on #90
I'll try and provide as much context as I can as I'm not sure what you're specifically asking for. The [.qt file extension](https://discussions.apple.com/thread/951061) was deprecated in favor of the .mov extensions but are equivalent and can be seen in the mime-db generated file and talked about in this issue here https://github.com/jshttp/mime-db/issues/86
The reason is the .qt file extension is

[2021-09-08 15:36] dougwilson commented on #90
I was mainly looking for documentation from Apple or something that stated this. If you say the web browsers don't support it, maybe documentation to that extent. But in the meantime, I tracked it down and this data is coming from the Apache project. Ideally you can get them to fix it and it will show up here.

If you think that we should special case this one extension, then I will need some more

[2021-09-08 15:36] #90 closed

[2021-09-19 13:30] JayeshLadumor commented on #68
@GustavoMilitao This issue is happening due to "jfif" extension is not part of mime-db. As this library internally uses mime-db to get all the file types and extensions.

[2021-11-30 22:54] wahidshafique commented on #65
@SeanCannon Did you manage to fix this/find a work around?

[2021-11-30 23:21] SeanCannon commented on #65
Product sort of solved this one for us by forcing us to use a mime-type whitelist, only allowing uploads of certain types in each prompt, so we had to manually infer the mime from the extension and then let opswat handle any sneaky people renaming their virus.exe to friendly.mp3 or something. Wish I had a more elegant solution for you guys 🤷

[2021-12-06 16:06] J-P-S-O opened #94 "Option for `.jpg`"
[code]
will return "jpeg". Due to specific reasons, I have some images that need to be saved in ~~.jpg~~ the original format, `.jpg`. It would be handy if there was an option to force certain mime-types to correspond to some extensions. Like:
[code]

[2021-12-11 08:36] dougwilson commented on #94
Hi @J-P-S-O just change the mapping for that type to extension:
[code]

[2021-12-11 08:36] #94 closed

[2021-12-11 11:58] J-P-S-O commented on #94
@dougwilson Thanks!

[2022-01-05 04:29] rht opened #95 "Importing mime-types results in 154 KiB additional space in Webpack bundle (bloat)"
I was investigating a bump in my Chrome extension bundle size, which goes from
[code]

to
[code]

I have isolated the cause to be the use of `mime-types` library. Any idea of the reason why and how to debug?

[2022-01-05 04:29] rht commented on #95
I forgot to link my usage: https://github.com/inblockio/VerifyPage/blob/e1c7e80b234227011d8f444dc7d495c997fc676e/src/offline_verification.tsx#L11.

[2022-01-05 04:38] dougwilson commented on #95
It's the enormous database of mime types and their file extensions :) it is a 181 kb file before minification, which I assume your webpack is doing. The database is how this module provides the functionality of the mime type look ups.

[2022-01-05 04:38] #95 closed

[2022-01-05 07:09] rht commented on #95
Ah, I was already looking at `mime-db`, but was somehow missing the "giant" db.json. Thank you!

[2022-02-02 08:45] ZaidHassan-PwC commented on #82
Agree with the people stating that the support isn't great for browsers. Here's the build error I'm getting after we had to upgrade to `react-scripts@5.0.0` to deal with vulnerabilities reported by npm.

[code]

If a solution for this isn't planned, are there more browser-friendly alternatives out there that I can use instead?

[2022-05-20 04:15] jeffmcaffer opened #97 "`contentType` does not work for paths"
The doc shows an example of using `contentType` on a path. Unfortunately, it doesn't seem to work.

[code]

Looking at [the code](https://github.com/jshttp/mime-types/blob/master/index.js#L83) (below) it seems that anything that has a `/` is assumed to be a mime type.

[code]
As a result you just get your path back from the `contentType` call.

[2022-05-20 04:18] dougwilson commented on #97
Hello, sorry about that! Can you elaborate more on how the example doesn't work? The example shows how to use it with a path by using the `path.extname` function, not that you can pass in the path directly as the argument to `.contentType`.

[2022-05-20 05:03] jeffmcaffer commented on #97
sigh. totally my bad. actually didn't notice the `path.extname` and was expecting to call `contentType` like one calls `lookup` (that is, you can pass in the whole path like `mime.lookup('folder/file.js') // 'application/javascript'`.

[2022-05-20 05:03] #97 closed

[2022-06-15 14:55] GTP95 opened #98 "Webpack trows error when trying to load this library"
Greetings,

I'm trying to use this library inside a browser extension's ContentScript, but as soon as I try to import it (even without calling any function from this library) I get the following error inside Chromium's console:
[code]
To import this library, I tried both `const mime=require("mime-types")` and `import * as mime from "mime-types"` but both give the same error, only the call stack lo

[2022-06-15 15:00] dougwilson commented on #98
Hi @GTP95 sorry for your issue. As noted in the readme, this module is for Node.js. There is an open issue regarding web browser support, though I don't use any modules in the web browser and no one has contributed said support so far. Until support for other environments besides Node.js is added, you are likely on your own.

[2022-06-17 20:37] Sagato opened #99 "Not correctly typing d.ts typingsfiles of Typescript. Returns video/mp2t."
### Current Behavior

When trying to guess the mime type of a typescript typingsfile the package returns 'video/mp2t'.

### Wanted Behavior

return the correct mime type.

[2022-06-17 20:42] dougwilson commented on #99
Hello, sorry you are having an issue. All types come from the dependency `mime-db` and would need to be changed there, as this module is just an API over that module and doesn't contain any mappings itself.

[2022-06-17 20:42] #99 closed

[2022-08-28 09:09] antoyne7 commented on #98
Hi, your issue might be related to Webpack removing some polyfills for node core modules
you can try this: https://stackoverflow.com/a/65542520

[2022-09-02 21:22] crobinson42 opened #101 "Support for .jfif Windows "jpeg" files"
Add .jfif support

https://fileinfo.com/extension/jfif

[2022-09-02 21:22] crobinson42 commented on #101
The jfif is a jpeg, content-type: `image/jpeg`

[2022-09-14 21:58] redimongo opened #102 "Is it possible to get is image"
So I currently am doing the following to work out if a file is an image or not.

[code]

However the issue is that unless I put every file extension that is an image which lets be real, there is a lot of different formats I could miss one, it would be great to see a way that we can give the file.mimetype and it return things like: image, audio, executable, html, other.

Not sure if anyone else thi

[2022-09-14 22:02] dougwilson commented on #102
This module doesn't keep a list of everything that is or is not an image and that is out of scope for this module (could be a good module to make!). If you wanted, you could _assume_ that if the mime type for an extension starts with `image/` then it is an image, and that's the most you'll be able to do with this module, unfortunately.

But since you already have the mime as `req.file.mimetype` th

[2022-09-14 22:13] dougwilson commented on #102
[code]

[2022-09-14 22:13] #102 closed

[2022-11-18 08:48] skypesky commented on #82
browser get mimeType, see mime-wrapper: https://www.npmjs.com/package/mime-wrapper

[2022-11-21 13:38] edsondewes opened #103 "New release"
Hi, could you please bump a new release of the `mime-db` lib and `mime-types`?

I'm trying to use it with the `audio/aac` type that was committed at https://github.com/jshttp/mime-db/commit/c9242a9b7d4bb25d7a0c9244adec74aeef08d8a1

Is there anything I can help with? If it helps, I can open the release PRs.
Thanks!

[2022-11-21 15:28] dougwilson commented on #103
Hello, and thank you. Our release process is currently broken and waiting on a bug fix to be released by nvm. The nvm project has fixed the bug and the fix is in their `master` beanch now but still has not released a new version. If you would like to help nvm get the new version out, that would help with the release blocker.